SoapWS_Consumer_BuyMart/src/main/resources/BuyMart.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/BuyMart/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BuyMart"
	targetNamespace="http://www.example.org/BuyMart/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/BuyMart/">
		
			<xsd:complexType name="Order">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:integer" /> 
					<xsd:element maxOccurs="unbounded" name="Product" type="tns:Product" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="Product">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:integer" />
					<xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
					<xsd:element minOccurs="1" maxOccurs="100" name="quantity" type="xsd:integer" />
					<xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
					<xsd:element minOccurs="1" maxOccurs="1" name="price" type="xsd:double" />
				</xsd:sequence>
			</xsd:complexType>
 
			<xsd:complexType name="GetOrdersRequest">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="CustomerId" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="GetOrdersResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="Order" type="tns:Order"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="CreateOrdersRequest">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="unbounded" name="CustomerId" type="xsd:integer" />
					<xsd:element minOccurs="1" maxOccurs="unbounded" name="Order" type="tns:Order" />
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="CreateOrdersResponse">
				<xsd:sequence>
					<xsd:element name="OrderResult" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="DeleteOrdersRequest">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="unbounded" name="CustomerId" type="xsd:integer" />
					<xsd:element minOccurs="1" maxOccurs="unbounded" name="OrderId" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="DeleteOrdersResponse">
				<xsd:sequence>
					<xsd:element name="OrderResult" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="UpdateOrdersRequest">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="unbounded" name="CustomerId" type="xsd:integer" />
					<xsd:element minOccurs="1" maxOccurs="unbounded" name="Order" type="tns:Order" />
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="UpdateOrdersResponse">
				<xsd:sequence>
					<xsd:element name="OrderResult" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="GetOrdersRequest" type="tns:GetOrdersRequest"/>
			<xsd:element name="GetOrdersResponse" type="tns:GetOrdersResponse"/>
			<xsd:element name="CreateOrdersRequest" type="tns:CreateOrdersRequest"/>
			<xsd:element name="CreateOrdersResponse" type="tns:CreateOrdersResponse"/>
			<xsd:element name="DeleteOrdersRequest" type="tns:DeleteOrdersRequest"/>
			<xsd:element name="DeleteOrdersResponse" type="tns:DeleteOrdersResponse"/>
			<xsd:element name="UpdateOrdersRequest" type="tns:UpdateOrdersRequest"/>
			<xsd:element name="UpdateOrdersResponse" type="tns:UpdateOrdersResponse"/>
			
		</xsd:schema>
		
	</wsdl:types>
	<wsdl:message name="GetOrdersRequest">
		<wsdl:part element="tns:GetOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetOrdersResponse">
		<wsdl:part element="tns:GetOrdersResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateOrdersRequest">
		<wsdl:part element="tns:CreateOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateOrdersResponse">
		<wsdl:part element="tns:CreateOrdersResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteOrdersRequest">
		<wsdl:part element="tns:DeleteOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteOrdersResponse">
		<wsdl:part element="tns:DeleteOrdersResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateOrdersRequest">
		<wsdl:part element="tns:UpdateOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateOrdersResponse">
		<wsdl:part element="tns:UpdateOrdersResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="BuyMartPortType">
		<wsdl:operation name="GetOrders">
			<wsdl:input message="tns:GetOrdersRequest" />
			<wsdl:output message="tns:GetOrdersResponse" />
		</wsdl:operation>
		<wsdl:operation name="CreateOrders">
			<wsdl:input message="tns:CreateOrdersRequest" />
			<wsdl:output message="tns:CreateOrdersResponse" />
		</wsdl:operation>
		<wsdl:operation name="DeleteOrders">
			<wsdl:input message="tns:DeleteOrdersRequest" />
			<wsdl:output message="tns:DeleteOrdersResponse" />
		</wsdl:operation>
		<wsdl:operation name="UpdateOrders">
			<wsdl:input message="tns:UpdateOrdersRequest" />
			<wsdl:output message="tns:UpdateOrdersResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="BuyMartServiceSoapBinding" type="tns:BuyMartPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetOrders">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateOrders">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteOrders">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateOrders">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BuyMartService">
		<wsdl:port binding="tns:BuyMartServiceSoapBinding" name="BuyMartPort">
			<soap:address location="http://localhost:8080/SoapWS_Provider_BuyMart/services/BuyMartService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>